day1/puzzle-input1.txt
day2/puzzle-input2.txt
day3/puzzle-input3.txt
day4/puzzle-input4.txt
day5/puzzle-input5.txt
day6/puzzle-input6.txt
day7/puzzle-input7.txt
day8/puzzle-input8.txt
day9/puzzle-input9.txt
day10/puzzle-input10.txt
day11/puzzle-input11.txt
day12/puzzle-input12.txt
day13/puzzle-input13.txt
day14/puzzle-input14.txt
day15/puzzle-input15.txt
day16/puzzle-input16.txt
day17/puzzle-input17.txt
day18/puzzle-input18.txt
day19/puzzle-input19.txt
day20/puzzle-input20.txt
day21/puzzle-input21.txt
day22/puzzle-input22.txt
day23/puzzle-input23.txt
day24/puzzle-input24.txt
utils/__pycache__